version: '3.7'

services:
  mysql-container:
    image: mysql
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: devops
    ports:
      - "3306:3306"
    networks:
      - my-network
    volumes:
      - mysql-data:/var/lib/mysql  # Define a volume for MySQL data

  spring-app-container:
    depends_on:
      - mysql-container
    image: maintestdevops:latest
    container_name: spring-app-container
    restart: on-failure
    ports:
      - "8082:8082"
    networks:
      - my-network
    volumes:
      - spring-app-data:/path/to/app/data  # Define a volume for your Spring app data

volumes:
  mysql-data:
  spring-app-data:

networks:
  my-network:
    name: my-network
